---
import { BASE_PROJECT } from "../constants/general";

interface Props {
  id: string;
  img: string;
  success: boolean;
  flightNumber: number;
  details: string | null;
}

const { id, img, success, flightNumber, details } = Astro.props;
const successText = success ? "success" : "failure";
---

<a
  class="rounded-lg border shadow-md bg-gray-800 border-r-gray-700 hover:scale-105 hover:bg-gray-700 hover:border-gray-500 transition flex flex-col"
  href={`/${BASE_PROJECT}/launch/${id}`}
>
  <picture class="flex justify-center p-4">
    <img
      class="mb-5 rounded-lg"
      src={img}
      alt={`Patch for launch ${id}`}
      style={`view-transition-name: launch-img-${id};`}
    />
  </picture>

  <header class="p-4 flex-grow">
    <span
      class:list={[
        "text-xs font-semibold mr-2 px-2.5 py-0.5 rounded",
        {
          "bg-green-200 text-green-700": success,
          "bg-red-200 text-red-900": !success,
        },
      ]}
    >
      {successText}
    </span>
    <h2 class="my-2 text-2xl font-bold tracking-tighter text-white">
      Flight #{flightNumber}
    </h2>
    <p class="mb-4 font-light text-gray-400">
      {
        details !== null && details?.length > 100
          ? details.slice(0, 100) + "..."
          : details
      }
    </p>
  </header>
</a>
